VITE_SUPABASE_URL=https://rsuvfbcpribrmkbveiyp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzdXZmYmNwcmlicm1rYnZlaXlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NzM0MjksImV4cCI6MjA5NDI0OTQyOX0.w76osoCdCN_Jkjge-fhZTHB7XUUM_vVTsFrt-CYCdfo
